@media (max-width: 576px) {

  .header {
    &__title {
      font-size: 30px;
    }
  }

  .title {
    font-size: 24px;
  }

  .text,
  .item {
    font-size: 16px;
  }

  .border {
    padding-left: 10px;
  }

}